body{
    background-color: rgb(200, 233, 222);
    min-width: 100vh;
}

.btn{
    border-radius: 50%;
    color: black;
}

.quiz-card{
    width: 32rem;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.question-footer{
    display: flex;
    justify-content: space-between;
}

.answer-cart:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
}

.right{
    background-color: green;
    color: white;
}

.false{
    background-color: red;
    color: white;
}